body {
    font-family: Arial, Helvetica, sans-serif;
}

.Conversation {
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.Msg {
    background-color: #ad1c1c;
    padding: 0rem 1rem;
    width: fit-content;
    margin: 1rem;
}

.mine {
    background-color: green;
    margin-left: auto;
}

.theirs {
    background-color: blue;
}

.Lobby {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Players {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
}

.PlayerIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
}

.Messages {
    display: flex;
    width: 75vw;
    height: 75vh;
    background-color: #999;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.Top-Banner {
    width: 100%;
    background-color: #ccc;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 5.75rem;
}

.Msg-Icon {
    width: 5rem;
    padding: 0.75rem;
}

.Player {
    width: 100%;
    max-height: 69.25rem;
    overflow-y: scroll;
}

.Home-Icon {
    width: 5rem;
    height: 5rem;
}

.Home-Btn {
    background: transparent;
    border: none;
}

.Icon-Btn {
    text-decoration: none;
    border: 0.2rem solid black;
    width: 25vw;
    margin: 1vw;
    border-radius: 2rem;
}

.Icon-Txt {
    text-decoration: none;
    font-size: 1.25rem;
    border: 0.2rem solid black;
    padding: 0.5rem;
    border-radius: 10rem;
}

.Messages-Wrapper {
    display: flex;
    justify-content: center;
}

.BottomBar {
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: center;
    font-size: 10rem;
}

.Msg-Box {
    width: 90%;
    font-size: 1.5rem;
    border: 0.1rem solid black;
    border-radius: 1rem 0 0 1rem;
    padding: 1rem;
}

.Send {
    width: 10%;
    font-size: 1.5rem;
    border-radius: 0 10rem 10rem 0;
    border: none;
    background: black;
    color: white;
}

.Showcase-Icons-Wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.Match {
    display: flex;
    justify-content: center;
    align-items: center;
}